* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: hsl(0, 0%, 100%);
  --cream: hsl(30, 38%, 92%);
  --grey: hsl(228, 12%, 48%);
  --black: hsl(212, 21%, 14%);
  --green500: hsl(157, 79%, 30%);
  --green700: hsl(158, 42%, 18%);
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cream);
  color: var(--grey);
  font-size: 14px;
}
.container {
  background-color: var(--white);
  width: 90%;
  max-width: 600px;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.title {
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: Fraunces, serif;
  color: var(--black);
  margin-block: 1rem;
}
p {
  font-size: 0.8rem;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.7;
  padding-block: 0.4rem;
}
.price-info {
  margin-block: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.current-price {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: Fraunces, serif;
  color: var(--green500);
  margin-right: 1rem;
}
.original-price {
  font-family: Fraunces, serif;
  color: var(--grey);
  font-size: 0.8rem;
}
button {
  width: 100%;
  padding: 1rem;
  background-color: var(--green500);
  color: var(--white);
  border: none;
  border-radius: 10px;
  font-size: 0.875rem;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
}
button img {
  margin-right: 0.5rem;
}
button:hover {
  background-color: var(--green700);
}
button a {
  text-decoration: none;
  color: var(--white);
}
@media (min-width: 320px) and (max-width: 767px) {
  .product-image-desktop {
    display: none;
  }
  .product-info {
    padding: 2.3rem;
  }
  .title {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .product-image-mobile {
    display: none;
  }
  .product-image-desktop {
    width: 50%;
    object-fit: cover;
  }
  .container {
    flex-direction: row;
    max-width: 730px;
  }
  .product-info {
    padding: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .title {
    font-size: 0.85rem;
  }
  h2 {
    font-size: 2.5rem;
    margin-block: 0.5rem;
  }
  p {
    font-size: 1rem;
  }
  .price-info {
    margin-block: 1.5rem;
  }
  .current-price {
    font-size: 2rem;
    margin-right: 1.5rem;
  }
  .original-price {
    font-size: 0.9rem;
  }
  button {
    font-size: 1rem;
  }
}
